/* Dropdown Button */
.dropbtn {
  background-color: #004ba6;
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 142px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #2c77d3;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #004ba6;
}

/* ################################### Dropdown for getting data ################################# */

/* CSS for dropdown styling */
.custom-select-container {
  position: relative;
  display: inline-block;
}

.select-selected {
  background-color: #004ba6;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.select-items.active {
  display: block;
}

.select-item {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%; /* Ensure items occupy full width */
  box-sizing: border-box; /* Ensure padding doesn't add to width */
}

.select-item:hover {
  background-color: #004ba6;
  color: #fff;
}
